BasedOnStyle: LLVM
Language: Cpp
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
InsertBraces: true
PointerAlignment: Right
DerivePointerAlignment: false
SortIncludes: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
